@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*Header*/
.nav-header {
    background: #451F55;
    margin: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
}

h1 {
    color: #F0F4EC;
    font-family: "Playfair Display";
    font-size: 6vh;
    font-style: normal;
    font-weight: 600;
    margin-left: 2vw;
    margin-bottom: 1vw;
}

.nav-text {
    color: #F0F4EC;
    font-family: "Public Sans";
    font-size: 3vh;
    margin: 1vw;
}

.nav-categories {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    margin-right: 2vw;
}
/**/

/*Landing Page - Left*/
.landing-page {
    display: flex;
    flex-wrap: wrap;
}

.landing-left {
    margin-left: 5vw;
    width: 55vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.full-name {
    color: #451F55;
    font-family: "Playfair Display";
    font-size: 9.35vh;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
}

.intro-text {
    font-family: "Public Sans";
    font-size: 3vh;
    margin-top: 0;
    text-align: center;
    white-space: nowrap;
}

.hello-button-text {
    color: #F0F4EC;
    border-radius: 1.5vh;
    border: 1.5vh solid #DADFF7;
    background: #451F55;
    width: fit-content;
    font-family: "Playfair Display";
    font-size: 3.5vh;
    text-align: center;
    white-space: nowrap;
    padding: 2vh;
}
/**/

/*Landing Page - Right*/
.landing-right {
    margin-right: 5vw;
    width: 25vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.headshot-background {
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #DADFF7;
    border-radius: 1.5vh;
    border: 1.5vh solid #451F55;
}

.headshot {
    max-width: 23vw;
}
/**/